/*
.seat:before {
    content: url(./armchair.svg);
    transform: rotate(90deg);
}
*/
body{
    background: url(./wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

form {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 3% 9%;
}

.calendar{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    width: 100%;
}

.seats{
    padding: 10% 5%;
    border-top: 1px grey solid;
}
.seat{
    background-color: grey;
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    height: 40px;
    width: 40px;
}
.seat-leg{
    background-color: grey;
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    height: 20px;
    width: 20px;
}

.class {
    background-color:  red;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    height: 80px;
    width: 50px;
}

.seat:hover {
    color: blue;
    cursor: pointer;
}

.session-select{
    display: block;
    border: grey 1px solid;
}

.sessions-input {
    border-radius: 6px;
    padding: 3% 0;
    width: 250px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.session-select:hover {
    cursor: pointer;
}

.selected{
    background-color: yellow;
}
.selected:hover{
    cursor: none;
}

.selection {
    background-color: lightblue;
}

.cinemaview{
    display: none;
}
.active {
    display: block;
    padding: 5%;
}

.disabled {
background-color: lightgray;
}

.selectedDate{
    border: red 2px solid;
}

.day{
    list-style: none;
    line-height: 3;
}

.container-wrapper{
    margin: 0 auto;
    width: 30%;
    padding-top: 10%;
}

.button {
    border-style: none;
    background-color: orange;
    color:black;
    border-radius: 12.5px;
    padding: 3% 0;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.seat-Selection{
    text-align: center;
    width: 100%;
}

.legends{
    padding: 3%;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.legend{
    font-size: 12px;
}
.legend-container{
    padding: 2%;
    text-align: center;
}

.monthname {
    color: #000B76;
}